body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 400;
  min-height: 1000vh;
}

a {
  text-decoration: none;
}
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem 7%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.logo-1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.logo-2 {
  color: orangered;
}

.header .hamburger img {
  width: 3rem;
}
.header .hamburger {
  display: none;
}
.navbar a {
  padding: 1rem;
  color: black;
  transition: 0.2s linear;
}

.navbar a:hover {
  color: orangered;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.navbar a:not(:last-child) {
  margin-right: 1rem;
}

.btn {
  background-color: rgb(112, 52, 8);
  border-radius: 5px;
  color: black;
  transition: 0.2s linear;
}

section {
  padding: 2rem 9%;
}

.home {
  min-height: 100vh;
  align-items: center;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  color: white;
  padding-top: 1rem;
  background-image: url("../testing2/images/home01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content .home-btn {
  color: white;
  display: inline-block;
  padding: 10px 15px;
  background-color: orangered;
  border-radius: 10px;
  margin-top: 1rem;
  font-weight: 500;
  transition: all 0.2s linear;
}

.home .content .home-btn {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow);
}

/* Responsiv
/* laptop */
/* @media (max-width: 1766px) {
  html {
    font-size: 75%;
  }
} */
/* tablet */
/* @media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .header .navbar {
    display: none;
  }
  .header .hamburger {
    display: inline-block;
  }
} */
/* phone */
/* @media (max-width: 450px) {
  html {
    font-size: 55%;
  }
} */

/* responsiv */
@media (max-width: 996px) {
  .logo {
    font-size: 3rem;
  }

  .navbar a {
    padding: 0.5rem;
  }

  .navbar a:not(:last-child) {
    margin-right: 0.5rem;
  }
}

/* responsiv 2 */
@media (max-width: 768px) {
  .header .navbar {
    position: fixed;
    /* top: 9rem; */
    left: 0;
    right: 0;
    width: 90%;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    top: -100%;
    z-index: -9999;
  }

  .navbar a:not(:last-child) {
    margin-right: 1rem;
  }

  .header .hamburger {
    display: block;
  }

  .navbar.show {
    top: 9rem;
  }
}
/* navbar responsiv */

@media (max-width: 768px) {
  .navbar.show {
    top: 9rem;
  }
}
